{% extends 'main.html' %}

{% block css %}
{% load static %}
{% endblock %}

{% block content %}
    <main role="main" class="container">

      <h3>Filter Journals</h3>
      <form method="GET" action=".">
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="original_title" placeholder="Movie Title....." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="uid" placeholder="Movie ID" />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="vote_average" placeholder="Rating >...." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>
        <div class="form-row">
          <div class="form-group col-md-2 col-lg-2">
            <label for="viewCountMin">Minimum Vote Count</label>
            <input type="number" min=0 class="form-control" id="viewCountMin" placeholder="0" name="vote_count">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="viewCountMax">Minimum Budget</label>
            <input type="number" min=0 class="form-control" id="viewCountMax" placeholder="10000?" name="budget">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMin">Release date From</label>
            <input type="date" class="form-control" id="publishDateMin" name="release_date_from">
          </div>
          <div class="form-group col-md-2 col-lg-2">
            <label for="publishDateMax">Release date to</label>
            <input type="date" class="form-control" id="publishDateMax" name="release_date_to">
          </div>
          <div class="form-group col-md-4">
            <label for="category">Sort by</label>
            <select id="category" class="form-control" name="sort">
              <option selected>Choose...</option>
              <option value="original_title">Title</option>
              <option value="uid">ID(ascending)</option>
              <option value="-uid">ID(descending)</option>
              <option value="vote_average">Rating(ascending)</option>
              <option value="-vote_average">Rating(descending)</option>
              <option value="vote_count">Vote count(ascending)</option>
              <option value="-vote_count">Vote Count(descending)</option>
              <option value="-release_date">Released Recent</option>
              <option value="release_date">Old to new movies</option>
            </select>
          </div>
        </div>
        <!-- <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="reviewed" name="reviewed">
            <label class="form-check-label" for="reviewed">
              Reviewed
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="notReviewed" name="notReviewed">
            <label class="form-check-label" for="notReviewed">
              Not reviewed
            </label>
          </div>
        </div> -->
        <button type="submit" class="btn btn-primary">Search</button>
      </form>

      <hr />

      <div class="row">
        <ul>
          {% for journal in queryset %}
            <li>
              {{ journal.title }}
              <span>Author: {{ journal.author.name }}</span>
              <span>
                {% for cat in journal.categories.all %}
                  {{ cat }}
                {% endfor %}
              </span>
              <span>Publish date: {{ journal.publish_date }}</span>
              <span>View count: {{ journal.views }}</span>
              <span>Reviewed: {{ journal.reviewed }}</span>
            </li>
            <hr />
          {% endfor %}
        </ul>
      </div>
      <div class="container">
        <h4 class="text-center my-4">Movies(Number Of Rows : {{qc}})</h4>
        <div class="row my-4">
            <!-- <div class="col-md-4"></div> -->
            <div class="col-md-12">
                <table class="table bg-white table-responsive-sm table-responsive-md table-responsive">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Orginal Title</th>
                        <th scope="col">Budget</th>
                        <th scope="col">Popularity</th>
                        <th scope="col">Release date</th>
                        <th scope="col">Revenue</th>
                        <th scope="col">Title</th>
                        <th scope="col">Vote average</th>
                        <th scope="col">Vote count</th>
                        <th scope="col">Overview</th>
                        <th scope="col">Tagline</th>
                        <th scope="col">Uid</th>
                      </tr>
                    </thead>
                    <tbody>
                        
                        {% for a in qs2 %}
                        
                      <tr>
                        <td>{{a.original_title}}</td>
                        <td>{{a.budget}}</td>
                        <td>{{a.popularity}}</td>
                        <td>{{a.release_date}}</td>
                        <td>{{a.revenue}}</td>
                        <td>{{a.title}}</td>
                        <td>{{a.vote_average}}</td>
                        <td>{{a.vote_count}}</td>
                        <td>{{a.overview}}</td>
                        <td>{{a.tagline}}</td>
                        <td>{{a.uid}}</td>
                      </tr>
                     {% endfor %}
                     
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    </main>

{% endblock %}

