{% extends 'main.html' %}

{% block css %}
{% load static %}
{% endblock %}

{% block content %}
    <main role="main" class="container">

      <h3>Filter Journals</h3>
      <form method="GET" action=".">
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="name" placeholder="Director name" value="{{na}}"/>
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>  
            <div class="form-group col-md-4">
                <label for="category">Sort by</label>
                <select id="category" class="form-control" name="sort">
                  <option selected>Choose...</option>
                  <option value="name">Name(lexicographically)</option>
                </select>
              </div>      
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>

      <hr />

      <div class="container">
        <h4 class="text-center my-4">Movies(Number Of Rows : {{qc}})</h4>
        <div class="row my-4">
            <!-- <div class="col-md-4"></div> -->
            <div class="col-md-12">
                <table class="table bg-white table-responsive-sm table-responsive-md">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Director Id</th>
                      </tr>
                    </thead>
                    <tbody>
                        
                        {% for a in qs %}
                        
                      <tr>
                        <td><a href="{% url 'dmovies' a.id %}" class="text-decoration-none text-dark">{{a.name}}</a></td>
                        {% if a.gender == 2 %}
                        <td>Male</td>
                        {% elif a.gender == 1 %}
                        <td>Female</td>
                        {% else %}
                        <td>Other</td>
                        {% endif %}
                        <td>{{a.uid}}</td>
                      </tr>
                     {% endfor %}
                     
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    </main>

{% endblock %}

